---
import TestComponent from "@/components/auth/test";
import ColourPicker from "@/components/theme/colourPicker.tsx";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Desks</h1>
    <p>
        Not yet implemented!
    </p>

    <ColourPicker client:only="react"/>
  </main>
</Layout>
