---
interface Props {
  title: string;
}

const { title } = Astro.props;
import BaseLayout from "@/layouts/BaseLayout.astro";
import Header from "@/components/theme/header";
import Footer from "@/components/theme/footer.astro";
import { Toaster } from "@/components/ui/sonner";
---

<script>
  import { getCookie } from "@/lib/cookie";
  import { verifyToken } from "@/lib/auth";

  const expectedUrl = encodeURI(
    window.location.pathname + window.location.search
  );

  const token = getCookie("token");
  let user = "";

  if (token) {
    try {
      const result = await verifyToken(token);
      if (result.valid && result.user) {
        user = result.user;
        console.log("Hello " + user)
      }
    } catch (error) {
      console.error("Token verification failed:", error);
      window.location.href = "/login?redirect=" + expectedUrl;
    }
  } else {
    console.log("No token found");
    window.location.href = "/login?redirect=" + expectedUrl;
  }
</script>

<BaseLayout title={title}>
  <div class="flex flex-col min-h-screen justify-between">
    <Header client:only="react" />
    <div class="mb-auto pb-10 tablet:mx-20 w-full max-w-[1500px] self-center">
      <slot />
    </div>
    <Footer />
    <Toaster client:only="react" />
  </div>
</BaseLayout>
