---
import BaseLayout from "@/layouts/BaseLayout.astro";
import SignedOutBackgroundLayer from "@/components/auth/signedOutBackgroundLayer";

const { title } = Astro.props;
---

<BaseLayout title={title} />
<SignedOutBackgroundLayer client:only="react" />
<div
  class="flex justify-center align-middle tablet:items-center h-screen w-screen"
>
  <main
    class="bg-black tablet:h-auto tablet:opacity-95 w-full tablet:w-1/2 desktop:w-1/3 ultra:w-1/4 p-5 py-10 tablet:m-5 tablet:rounded-xl flex flex-col tablet:shadow-3xl"
  >
    <img
      src="/images/logos/uol-white-text.svg"
      draggable="false"
      class="w-1/4 self-center"
    />
    <h1 class="text-5xl text-center mb-10 text-white font-bold">asgard</h1>
    <slot />
  </main>
</div>
