---
import Layout from "@/layouts/Layout.astro";
import { UserPage } from "@/components/users/userPage";

const { id } = Astro.params;
---

<Layout title="Users">
  <main>
    <UserPage userId={id as string} client:only="react" />
  </main>
</Layout>
