---
import Layout from "@/layouts/Layout.astro";
import { UsersTable } from "@/components/users/usersTable";
---

<Layout title="Users">
  <main>
    <UsersTable client:only="react" />
  </main>
</Layout>
