---
import ForgotPasswordForm from "@/components/auth/forgotPasswordForm";
import SignedOutLayout from "@/layouts/SignedOutLayout.astro";
---

<SignedOutLayout>
  <ForgotPasswordForm client:load />
  <p class="text-white pt-5 text-center cursor-pointer">
    <a href="/login">← Back to Login</a>
  </p>
</SignedOutLayout>
