---
import { MyTimetables } from "@/components/homePage";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Home">
  <main>
    <h1 class="text-3xl text-center mb-5">My Timetables</h1>
    <MyTimetables client:only="react" />
  </main>
</Layout>
