---
import LoginForm from "@/components/auth/loginForm.tsx";
import SignedOutLayout from "@/layouts/SignedOutLayout.astro";
---

<SignedOutLayout>
  <LoginForm client:load />
  <p class="text-white pt-5 text-center cursor-pointer">
    <a href="/forgot-password">Forgot password?</a>
  </p>
</SignedOutLayout>
