---
import SearchPage from "@/components/search/searchPage";
import { Button } from "@/components/ui/button";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Search">
  <main
    class="w-full text-xl flex flex-col items-center text-center p-10 pt-0">
    <h1 class="text-3xl text-center mb-5">Search</h1>
    <SearchPage client:only="react" />
  </main>
</Layout>
