@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --apricot: 33, 100%, 70%;
    --lavender: 252, 60%, 75%;
    --salmon: 6, 73%, 66%;
    --cyan: 183, 68%, 65%;
    --mint: 139, 63%, 70%;
    --sky: 212, 89%, 70%;
    --blush: 340, 40%, 70%;
    --turquoise: 167, 80%, 67%;
    --chartreuse: 68, 47%, 63%;
    --periwinkle: 240, 20%, 73%;
    --coral: 6, 72%, 69%;
    --lilac: 282, 30%, 72%;
    --frost: 180, 100%, 98%;
    --slate: 240, 14%, 65%;
    --tangerine: 20, 100%, 65%;
    --white: 0, 0%, 100%;
    --black: 0, 0%, 7%;
    --azure: 200, 100%, 63%;
    --mango: 20, 100%, 63%;
    --violet: 284, 80%, 64%;
    --emerald: 104, 80%, 64%;
    --amber: 55, 92%, 52%;

    --background: var(--black);
    --foreground: var(--white);

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: var(--frost);
    --primary-foreground: var(--black);

    --secondary: var(--slate);
    --secondary-foreground: var(--black);

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: var(--apricot);
    --accent-foreground: var(--black);

    --destructive: var(--salmon);
    --destructive-foreground: var(--black);

    --border: 0 0% 89.8%;
    --input: var(--white);
    --ring: var(--white);

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}