---
import Layout from "@/layouts/Layout.astro";
import { GroupsTable } from "@/components/groups/groupsTable";
---

<Layout title="Groups">
  <main>
    <GroupsTable client:only="react" />
  </main>
</Layout>
