---
import Layout from "@/layouts/Layout.astro";
import { GroupsTable } from "@/components/groups/groupsTable";
---

<Layout title="Groups">
  <main>
    <h1 class="text-3xl font-extrabold text-center">Groups</h1>
    <GroupsTable client:only="react" />
  </main>
</Layout>
