---
import { Button } from "@/components/ui/button";
import Layout from "@/layouts/Layout.astro";
import { UsersTable } from "@/components/users/usersTable";
---

<Layout title="Users">
  <main>
    <h1 class="text-3xl font-extrabold text-center">Users</h1>
    <UsersTable client:only="react" />
  </main>
</Layout>
