---
import { Button } from "@/components/ui/button";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Timetables">
  <main>
    <h1>TIMETABLESSSS</h1>
    <p>
      To get started, open the directory <code>src/pages</code> in your project.<br
      />
      <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
    </p>
    <Button>Hello</Button>

    <div class="">
      <p class="pb-4 text-gray-900 dark:text-gray-300">
        Did you hear that? They've shut down the main reactor. We'll be
        destroyed for sure. This is madness! We're doomed! There'll be no escape
        for the Princess this time. What's that? Artoo! Artoo-Detoo, where are
        you? At last! Where have you been? They're heading in this direction.
      </p><p class="pb-4 text-gray-900 dark:text-gray-300">
        Oh, he excels at that, sir. Luke? Luke? Luke? Have you seen Luke this
        morning? He said he had some things to do before he started today, so he
        left early. Uh? Did he take those two new droids with him? I think so.
        Well, he'd better have those units in the south range repaired be midday
        or there'll be hell to pay! Wait, there's something dead ahead on the
        scanner. It looks like our droid...hit the accelerator. Hey, whoa, just
        where do you think you're going? Master Luke here is your rightful
        owner.
      </p><p class="pb-4 text-gray-900 dark:text-gray-300">
        You mean it controls your actions? Partially. But it also obeys your
        commands. Hokey religions and ancient weapons are no match for a good
        blaster at your side, kid. You don't believe in the Force, do you? Kid,
        I've flown from one side of this galaxy to the other.
      </p><p class="pb-4 text-gray-900 dark:text-gray-300">
        It belongs to us now. But what if this Obi-Wan comes looking for him? He
        won't, I don't think he exists any more. He died about the same time as
        your father. He knew my father? I told you to forget it.
      </p><p class="pb-4 text-gray-900 dark:text-gray-300">
        No, my father didn't fight in the wars. He was a navigator on a spice
        freighter. That's what your uncle told you. He didn't hold with your
        father's ideals.
      </p>
    </div>

    <div class="">
      <p class="pb-4 text-gray-900 dark:text-gray-300">
        Did you hear that? They've shut down the main reactor. We'll be
        destroyed for sure. This is madness! We're doomed! There'll be no escape
        for the Princess this time. What's that? Artoo! Artoo-Detoo, where are
        you? At last! Where have you been? They're heading in this direction.
      </p><p class="pb-4 text-gray-900 dark:text-gray-300">
        Oh, he excels at that, sir. Luke? Luke? Luke? Have you seen Luke this
        morning? He said he had some things to do before he started today, so he
        left early. Uh? Did he take those two new droids with him? I think so.
        Well, he'd better have those units in the south range repaired be midday
        or there'll be hell to pay! Wait, there's something dead ahead on the
        scanner. It looks like our droid...hit the accelerator. Hey, whoa, just
        where do you think you're going? Master Luke here is your rightful
        owner.
      </p><p class="pb-4 text-gray-900 dark:text-gray-300">
        You mean it controls your actions? Partially. But it also obeys your
        commands. Hokey religions and ancient weapons are no match for a good
        blaster at your side, kid. You don't believe in the Force, do you? Kid,
        I've flown from one side of this galaxy to the other.
      </p><p class="pb-4 text-gray-900 dark:text-gray-300">
        It belongs to us now. But what if this Obi-Wan comes looking for him? He
        won't, I don't think he exists any more. He died about the same time as
        your father. He knew my father? I told you to forget it.
      </p><p class="pb-4 text-gray-900 dark:text-gray-300">
        No, my father didn't fight in the wars. He was a navigator on a spice
        freighter. That's what your uncle told you. He didn't hold with your
        father's ideals.
      </p>
    </div>

    <div class="">
      <p class="pb-4 text-gray-900 dark:text-gray-300">
        Did you hear that? They've shut down the main reactor. We'll be
        destroyed for sure. This is madness! We're doomed! There'll be no escape
        for the Princess this time. What's that? Artoo! Artoo-Detoo, where are
        you? At last! Where have you been? They're heading in this direction.
      </p><p class="pb-4 text-gray-900 dark:text-gray-300">
        Oh, he excels at that, sir. Luke? Luke? Luke? Have you seen Luke this
        morning? He said he had some things to do before he started today, so he
        left early. Uh? Did he take those two new droids with him? I think so.
        Well, he'd better have those units in the south range repaired be midday
        or there'll be hell to pay! Wait, there's something dead ahead on the
        scanner. It looks like our droid...hit the accelerator. Hey, whoa, just
        where do you think you're going? Master Luke here is your rightful
        owner.
      </p><p class="pb-4 text-gray-900 dark:text-gray-300">
        You mean it controls your actions? Partially. But it also obeys your
        commands. Hokey religions and ancient weapons are no match for a good
        blaster at your side, kid. You don't believe in the Force, do you? Kid,
        I've flown from one side of this galaxy to the other.
      </p><p class="pb-4 text-gray-900 dark:text-gray-300">
        It belongs to us now. But what if this Obi-Wan comes looking for him? He
        won't, I don't think he exists any more. He died about the same time as
        your father. He knew my father? I told you to forget it.
      </p><p class="pb-4 text-gray-900 dark:text-gray-300">
        No, my father didn't fight in the wars. He was a navigator on a spice
        freighter. That's what your uncle told you. He didn't hold with your
        father's ideals.
      </p>
    </div>

    <div class="">
      <p class="pb-4 text-gray-900 dark:text-gray-300">
        Did you hear that? They've shut down the main reactor. We'll be
        destroyed for sure. This is madness! We're doomed! There'll be no escape
        for the Princess this time. What's that? Artoo! Artoo-Detoo, where are
        you? At last! Where have you been? They're heading in this direction.
      </p><p class="pb-4 text-gray-900 dark:text-gray-300">
        Oh, he excels at that, sir. Luke? Luke? Luke? Have you seen Luke this
        morning? He said he had some things to do before he started today, so he
        left early. Uh? Did he take those two new droids with him? I think so.
        Well, he'd better have those units in the south range repaired be midday
        or there'll be hell to pay! Wait, there's something dead ahead on the
        scanner. It looks like our droid...hit the accelerator. Hey, whoa, just
        where do you think you're going? Master Luke here is your rightful
        owner.
      </p><p class="pb-4 text-gray-900 dark:text-gray-300">
        You mean it controls your actions? Partially. But it also obeys your
        commands. Hokey religions and ancient weapons are no match for a good
        blaster at your side, kid. You don't believe in the Force, do you? Kid,
        I've flown from one side of this galaxy to the other.
      </p><p class="pb-4 text-gray-900 dark:text-gray-300">
        It belongs to us now. But what if this Obi-Wan comes looking for him? He
        won't, I don't think he exists any more. He died about the same time as
        your father. He knew my father? I told you to forget it.
      </p><p class="pb-4 text-gray-900 dark:text-gray-300">
        No, my father didn't fight in the wars. He was a navigator on a spice
        freighter. That's what your uncle told you. He didn't hold with your
        father's ideals.
      </p>
    </div>
  </main>
</Layout>
