---
import UserSettings from "@/components/users/userSettings";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Settings">
  <main>
      <UserSettings client:only="react" />
  </main>
</Layout>
