---
import Layout from "@/layouts/Layout.astro";
import { TimetablesTable } from "@/components/timetables/timetablesTable";
---

<Layout title="Timetables">
  <main>
    <TimetablesTable client:only="react" />
  </main>
</Layout>
